[user]
    name = Qiu Yu
    email = unicell@gmail.com
[branch]
    autosetupmerge = true
[core]
    ;  autocrlf = true
    ;  autocrlf = input
    ;  whitespace = cr-at-eol
    ;  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
    ;  pager = less -+FRSX -FRX
    ;  excludesfile = ~/.gitignore_global
[alias]
    g = grep -I
    st = status
    ci = commit
    br = branch
    co = checkout
    sb = show-branch
    lg = log --stat
    last = log --stat -1
    diffstat = diff --stat -r
    changes = diff --name-status -r
    unstage = reset HEAD --
[merge]
    conflictstyle = diff3
    tool = vimdiff
    log = true
[pager]
    color = true
[status]
    color = auto
; [rerere]
;    enabled = true
;  [apply]
    ;  whitespace = fix
[color]
  ui = auto
;  [color "branch"]
    ;  current = yellow reverse
    ;  local = yellow
    ;  remote = green
;  [color "diff"]
    ;  meta = yellow bold
    ;  frag = magenta bold
    ;  old = red bold
    ;  new = green bold
;  [color "status"]
    ;  added = yellow
    ;  changed = green
    ;  untracked = cyan
[diff "lisp"]
      xfuncname = "^(\\(.*)$"
#      xfuncname = "^(\\((cl-)?def(un|macro|method).*)$"
[diff "rstats"]
      xfuncname = "^([a-zA-z.]+ <- function.*)$"
[diff "texinfo"]
# from http://git.savannah.gnu.org/gitweb/?p=coreutils.git;a=blob;f=.gitattributes;h=c3b2926c78c939d94358cc63d051a70d38cfea5d;hb=HEAD
      xfuncname = "^@node[ \t][ \t]*\\([^,][^,]*\\)"
[diff "orgmode"]
      xfuncname = "^(\\*+.*)$"
#[diff "css"]
#      xfuncname = "^([a-zA-Z#.@][^\\}]*)$"
#      xfuncname = "^(.*\\{)$"
[diff "rust"] # Thanks to csabahenk
      xfuncname = "^[ \t]*(pub|)[ \t]*((fn|struct|enum|impl|trait|mod)[^;]*)$"
[diff "exif"]
      binary = true
# sudo apt-get install libimage-exiftool-perl
      textconv = exiftool
[diff "pdf"]
      textconv = pdftotext-stdout
# sudo apt-get install pdftotext
# copy the following to a script pdftotext-stdout somehwere in $PATH
#  #!/bin/bash
#  pdftotext "$@" -
